In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
gmaps.configure(api_key=g_key)

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mangrol,IN,2021-04-12 15:07:46,21.1167,70.1167,82.13,60,0,17.00
1,1,Kahului,US,2021-04-12 15:07:46,20.8947,-156.4700,60.80,100,1,5.68
2,2,Xudat,AZ,2021-04-12 15:07:47,41.6310,48.6810,51.82,78,0,2.21
3,3,Narsaq,GL,2021-04-12 15:07:47,60.9167,-46.0500,44.60,31,20,5.75
4,4,Ushuaia,AR,2021-04-12 15:05:10,-54.8000,-68.3000,46.40,49,20,17.27

In [3]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mangrol,IN,2021-04-12 15:07:46,21.1167,70.1167,82.13,60,0,17.00
5,5,Faanui,PF,2021-04-12 15:07:47,-16.4833,-151.7500,82.18,72,100,11.07
10,10,Vila Velha,BR,2021-04-12 15:07:24,-20.3297,-40.2925,89.60,45,20,6.91
15,15,Takoradi,GH,2021-04-12 15:07:49,4.8845,-1.7554,86.97,65,59,8.77
16,16,Castro,BR,2021-04-12 15:07:50,-24.7911,-50.0119,77.27,61,16,6.89
23,23,Yarada,IN,2021-04-12 15:07:51,17.6500,83.2667,84.20,74,75,4.61
25,25,San Patricio,US,2021-04-12 15:07:52,28.0170,-97.5169,80.60,78,1,10.36
32,32,Finschhafen,PG,2021-04-12 15:07:53,-6.6024,147.8681,77.76,84,100,2.95
40,40,Hithadhoo,MV,2021-04-12 15:05:49,-0.6000,73.0833,84.06,68,97,10.45
48,48,Rikitea,PF,2021-04-12 15:07:57,-23.1203,-134.9692,77.97,71,14,9.42

In [12]:
preferred_cities_df.count()

City_ID       179
City          179
Country       177
Date          179
Lat           179
Lng           179
Max Temp      179
Humidity      179
Cloudiness    179
Wind Speed    179
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0        Mangrol      IN     82.13  21.1167   70.1167
5         Faanui      PF     82.18 -16.4833 -151.7500
10    Vila Velha      BR     89.60 -20.3297  -40.2925
15      Takoradi      GH     86.97   4.8845   -1.7554
16        Castro      BR     77.27 -24.7911  -50.0119
23        Yarada      IN     84.20  17.6500   83.2667
25  San Patricio      US     80.60  28.0170  -97.5169
32   Finschhafen      PG     77.76  -6.6024  147.8681
40     Hithadhoo      MV     84.06  -0.6000   73.0833
48       Rikitea      PF     77.97 -23.1203 -134.9692

In [ ]:
requests.get('base URL', params=parameters)

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Mangrol,IN,82.13,21.1167,70.1167,Hotel The Royal Honours
5,Faanui,PF,82.18,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
10,Vila Velha,BR,89.60,-20.3297,-40.2925,Quality Suites Vila Velha
15,Takoradi,GH,86.97,4.8845,-1.7554,Raybow International Hotel
16,Castro,BR,77.27,-24.7911,-50.0119,CHACARA BAILLY
23,Yarada,IN,84.20,17.6500,83.2667,Jeevan
25,San Patricio,US,80.60,28.0170,-97.5169,"Motel 6 Sinton, TX"
32,Finschhafen,PG,77.76,-6.6024,147.8681,Cossam Guest House
40,Hithadhoo,MV,84.06,-0.6000,73.0833,Scoop Guest House
48,Rikitea,PF,77.97,-23.1203,-134.9692,Pension Maro'i

In [24]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))